.sidebar {
    display: flex;
    height: 100vh;
    overflow: scroll initial;
    background-color:#8e8d8f;
}

.navbarHeader {
    text-decoration: none;
    color: inherit;
}

.footer {
    text-align: center;
    padding: 20px;
}

.header {
    display: flex;
    width: 100%;
    height: 4rem;
    background-color:#2f273d; 
}